.header-container {
  background-color: #413F3F;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-container {
  height: 100%;
  padding: 40px 32px 52px;
}

.folder {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.folder-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.folder-title {
  margin-left: 10px;
  font-weight: bold;
}

.divider-horizontal {
  background-color: #BCBCC3;
  opacity: 40%;
  width: 100%;
  margin: 0 13px;
}

.items {
  display: flex;
  flex-direction: column;
}

.items input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: white;
  margin-right: 10px;
  border: #C4C4C4 solid 1px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

input[type="checkbox"]::before {
  content: "";
  width: 20px;
  height: 20px;

}

.items input[type="checkbox"]:checked {
  background-color: #C4C4C4;
  color: white;
}

.folder-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  cursor: pointer;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.add-item-input,
.add-folder-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-item-input input,
.add-folder-input input {
  margin: 0 10px;
  border: #E2E2E2 solid 1px;
  height: 30px;
  border-radius: 6px;
  padding-left: 5px;
}

.trash-icon {
  margin-left: 10px;
}

.crossed {
  text-decoration: line-through;
  color: #B5B5BA;
}

.items-count {
  width: 20px;
  height: 20px;
  background-color: #413F3F;
  color: #F4F4F4;
  border-radius: 4px;
  margin-left: 10px;
}

.items-count p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background-color: #E2E2E2;
  border-radius: 6px;
  border: none;
  min-width: 120px;
  height: 35px;
}

.header-row {
  justify-content: space-between;
  margin: 0 30px;
  width: auto;
  font-size: 20px;
  font-weight: bold;
}